<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>index</title>
</head>
<body>
    <h1>Github</h1>
    <form action="/handle/github" method="post">
        <input type="text" name="name">
        <input type="submit" value="submit">
    </form>
    {% if 'data' in session %}

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{session['data']['avatar_url']}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{session['data']['name']}}</h5>
              <p class="card-text">{{session['data']['bio']}}</p>
              <a href="{{session['data']['html_url']}}" class="btn btn-secondary">GitHub</a>
            </div>
          </div>
    {% endif %}
</body>
</html>